
body {
    padding-top: 150px; /* Ajusta este valor según la altura de tu navbar */
}

.navbar {
    background-color: #000000 !important; /* Negro puro */
}
.navbar-text {
    font-family: 'Roboto Italic', sans-serif;
    font-style: italic;
    font-size: 18px; /* Cambia el tamaño del texto según tu preferencia */
    color: white; /* Cambia el color del texto a blanco */

    display: block;
    text-align: center;
    margin-top: 10px; /* Ajusta el espacio superior según sea necesario */
}

.navbar-text {
    font-family: 'Oswald', sans-serif;
    /* font-style: italic; */
    font-size: 20px; /* Cambia el tamaño del texto según tu preferencia */
    color: white; /* Cambia el color del texto a blanco */

    display: block;
    text-align: center;
    margin-top: 10px; /* Ajusta el espacio superior según sea necesario */
}

.navbar-brand img {
    margin-right: 15px; /* Ajusta el valor según sea necesario */
}


.custom-h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    /* font-family: 'Roboto', sans-serif; */
    /* font-style: italic; */
    color: #000;
    margin-left: 10px;
    margin-bottom: 20px;
}

.label-1 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-left: 15px;
    
}

.input-pequeno {
    width: 100px; /* ajusta el valor según sea necesario */
}

 /* Estilos para el footer */

  .borde-verde {
    border: 1px solid #3dae2b; /* Borde sólido de 1 píxel de color verde (#4CAF50) */
    padding: 5px; /* Espacio interno para separar el texto del borde */
  }

  .btn-negro {
    background-color: #000;
    color: #fff; /* Color de texto blanco */
    border-color: #000; /* Color del borde igual al fondo */
  }
  
  .btn-negro:hover {
    background-color: #3dae2b; /* Cambia el color de fondo al pasar el cursor */
    border-color: #3dae2b; /* Cambia el color del borde al pasar el cursor */
    color: #fff; /* Color de texto blanco */
  }

  .custom-h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #000;
    margin-left: 10px;
}

.nav-item.active .nav-link {
    color: #3dae2b;
}

.custom-h5{
    color: #3dae2b;

} 

/* Footer styles */
.footer {
    padding: 50px 0;
    background-color: #111111;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link ul {
    list-style-type: none; /* Elimina las viñetas */
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
}

.link a {
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
    text-decoration: none; /* Elimina el subrayado */
}

.link a:hover {
    text-decoration: underline; /* Añade subrayado en el hover si deseas */
}
